<script>
// var board = {
// 	selected: [],
// 	select: function (id) {
// 		board.selected.push(id);
// 		if (board.selected.length >= 2) {
// 			// Make request to server
// 		}
// 	}
// }
var gameId = <%= game.id %>;

function bindClicks($elements) {
	$elements.each(function(index, element) {
		$(element).on('click', function(e) {
			var photoId = $(element).attr('data-id');
			console.log("clicked id:", photoId)
			io.socket.emit(
				'games/flip',
				{
					photoId: photoId,
					gameId: gameId
				}
			);
		});
	});
}
</script>
<header class="gameheader">

	<div class="title">Flipster</div>

</header>

<ul class="gameboard">
<% for (var i in game.photos) { %>
	<li data-id="<%= i %>" data-ig-id="<%= game.photos[i].instagramId %>" class="hide">
		<img src="<%= game.photos[i].photoUrl %>">
	</li>
<% } %>
</ul>

<script>
bindClicks($('.gameboard li'));
</script>

<script type="text/template" id="gameGridTemplate">
<ul class="gameboard">
{{ for (var i in game.photos) { }}
	<li data-id="{{= i }}" data-ig-id="{{= game.photos[i].instagramId }}" class="hide">
		<img src="{{= game.photos[i].photoUrl }}">
	</li>
{{ } }}
</ul>
</script>

<script>
io.socket.on('connect', function() {
	io.socket.emit('games/playerJoined', gameId);
});

io.socket.on('games/' + gameId + '/playerJoined', function(game) {
	var template = _.template($('#gameGridTemplate').html());
	var $compiled = $(template({ game: game }));
	bindClicks($compiled.find('li'));
	$('.gameboard').replaceWith($compiled);
});

io.socket.on('games/' + gameId + '/flip', function(photoId) {
	console.log("Flipping:", photoId)
	$('[data-id="' + photoId + '"]').addClass('show').removeClass('hide');
});

io.socket.on('games/' + gameId + '/match', function(photos) {
	var igId = photos[0].instagramId;
	setTimeout(function() {
		$('[data-ig-id="' + igId + '"]').addClass('remove').removeClass('show');
	}, 2000);
});

io.socket.on('games/' + gameId + '/miss', function(photos) {
	setTimeout(function() {
		for (var i = 0; i < photos.length; i++) {
			var igId = photos[i].instagramId;
			$('[data-ig-id="' + igId + '"]').addClass('hide').removeClass('show');
			console.log("Didn't match:", igId)
		}
	}, 2000);
});

io.socket.on('games/' + gameId + '/turn', function(username) {
	$('#player-footer').text(
		'It\'s ' + username + '\'s turn.'
	);
});

io.socket.on('games/' + gameId + '/end', function() {
	$('#player-footer').text('Game Over!');
	$('.gameboard').html('<a href="/games" class="button">Start new game!</a>');
});

</script>

<footer id="player-footer">
	<% if (game.playerTurn) { %>
		It's <%= game.playerTurn.player.username %>'s turn. 
	<% } else { %>
		Waiting for a player to join...
	<% } %>
</footer>


